@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigcover{
    height: calc(100vh - 320px);
    position: sticky;
}

.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
}

.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    margin: 30px 0;    
}


